<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p class="text-muted mx-5">General scholl contact overview</p>
        </div>
        <div class="col-6">
            <a href="/" class="text-info float-right mx-5"> Home</a>
        </div>
    </div>  
</div>